.status-container {
  width: 600px;
  margin: 200px auto;
  padding: 0.375rem 0.75rem;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 6px;
  text-align : center;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.counter {
  width: 56px;
  border-radius: 50%;
  color: white;
  text-align: center;
  padding: 1rem;
  background-color: #7e73ff;
  margin-right: 2rem;
}
